<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css" type="text/css">
    <title>Índice</title>
</head>
<body>
    
    <div class="titulos">
        <h1>Lista de usuarios</h1>
    </div>

    <div class="tablas">
        <button class="botones boton-agregar" onclick="location.href='/add'">Agregar usuario <img class="ico-boton" src="/img/plus.png" alt=""></button>  
        <table>
            
            <tr>
                
                <th class="columna-id">ID</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            <!-- JS instalar JavaScript ES6-->
             <% usuarios.forEach(usuario =>{ %>
            <tr>
                <td class="columna-id"> <%=usuario.indice %> </td>
                <td> <%=usuario.usuario %> </td>
                <td> <%=usuario.email %> </td>
                <td>
                    <button class="botones" onclick="location.href='/edit/<%= usuario.indice %>'">Editar <img class="ico-boton" src="/img/pencil.png" alt=""></button>
                    <button class="botones" onclick="location.href='/delete/<%= usuario.indice %>'">Eliminar <img class="ico-boton" src="/img/minus.png" alt=""></button>
                </td>
            </tr>
            <% })%>
        </table>
    </div>

</body>
</html>